@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #3949ab;
    background-size: cover;
    background-position: center;
    display: flex;
    width: 100%;
    height: 110%;

}
.photo{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: gray;
    padding: 5px;
    margin-left: 170px;
    

}
.left{
    background-color: #283593;
    width: 40%;
    height: 110%;
    float: left;
}
.right{
    width: 450px;
    float: left;
}
.box-1{
    position: relative;
}
.heading{
    background-color: #ffb300;
    padding: 10px;
    color: black;
    text-align: left;
    padding-left: 20px;
    margin-right: -15px;

}

.p1{
    padding: 9px 10px;
    font-size: large;
    color: #fdd835;
}
p{
    font-size: large;
    color: aqua;
    margin-left: 20px;
}
.box-2{
    padding: 0px 50px;
    margin-top: 30px;


}
.p2{
    font-size: large;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 18px;
    margin-top: 5px;
    color: beige;
}
h2{
    font-size: x-large;
    text-align: center;
    color: #ffb300;
}
h3{
    font-size: x-large;
    margin-bottom: 15px;
    color: #ffb300;
    text-shadow: 10px;
    

}
h4{
    font-size: large;
    margin-bottom: 15px;

}
.p3{
    font-size: large;
    word-spacing: 1px;
    letter-spacing: 0px;
    margin-top: 15px;
    color: #fdd835;

}
.p3 span{
    color: aqua;
    padding-left: 20px;

}
.p4{
    padding: 2px 2px;
    font-size: large;
    color: #fdd835;

}